.docs h4 {
    margin-top:20px;
    font-family: monospace;
    font-size: 18px;
    background-color: #f6f6f6;
    padding:8px 8px 6px 8px;
    border-bottom:1px solid #eee;
}

.docs p {
    margin-left: 16px;
    font-size: 14px;
}